/* Your app styles here */
body{
    font-family: sans-serif;
}
.page{
    background-image:url('https://images.unsplash.com/photo-1500634349562-d1bd93d7103a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=734&q=80');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: center;
    color:white;
}

.clockdate-wrapper {
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
}
#clock{
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
    left:-10px;
}
#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}

.swiper-wrapper{
    margin-top:15%;
}

.swiper-slide{
    height:100vh;
}

.sike, .sike p, .sike h2{
    color:black;
    background-color:white;
}

#icon{
    font-size:40px;
}

.weather, .search{
    text-align: center;
}

.search{
    margin:0;
}

#nike{
    margin-left:25%;
}